attrdict
setproctitle
transformers==4.17.0
tensorboardX
tensorflow==2.2.0
nltk
torchmetrics
sentence_transformers
jsonlines
spacy
wget
rouge-score==0.0.4
datasets==2.0.0
faiss-cpu
# pip install sacrebleu
# pip install rouge_score==0.0.4
# pip install torch==1.8.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html