attrdict
setproctitle
transformers
tensorboardX
tensorflow==2.2.0
nltk
torchmetrics
sentence_transformers
jsonlines
spacy
wget
rouge-score==0.0.4
datasets==1.11.0
# pip install sacrebleu sacrebleu
# pip install rouge_score==0.0.4
# pip install torch==1.8.0+cu111 -f https://download.pytorch.org/whl/torch_stable.html